body {background-image: url("../Layout/background.png");}

.acceleratè
{
    width: 250px;
    margin-left: 20px;
    float: left;
}

.motto
{
    margin-right: 20px;
    width: 250px;
    float: right;
}

.rank
{
    clear: both;
}

.address
{
    margin-top: 100px;
    margin-left: 175px;
    width: 400px;
}

.jobs
{
	margin-right: 100px;
	width: 40%;
	float: right;
	color: black;
	text-align: center;
}

.text
{
	text-align: center;
}

.text1
{
	font-weight: bold;
	float: left;
	clear: both;
	margin-right: 10%;
	text-align: center;
}

.header
{
    background-color: lightgrey;
}

.mainmenu
{
	padding-left: 20px;
	padding-top: 3px;
	color: black;
	float: left;
}

.registration
{
	padding-top: 5px;
	color: black;
    float: center;
}

.information
{
	padding-left: 40px;
	padding-top: 3px;
	color: black;
	float: left;
}

.activity
{
	padding-left: 50px;
	padding-top: 3px;
	color: black;
	float: left;
}

.invitation
{
	padding-left: 50px;
	padding-top: 3px;
	color: black;
	float: left;
}

.shop
{
	padding-left: 60px;
	padding-top: 3px;
	color: black;
	float: left;
}

.footer
{
    background-color: lightgrey;
	text-align: left;	
}

.powered
{
	color: black;
	margin-top: -5px;
}

form{
    text-align: center;
}

header ul li
{
    display: inline;
    list-style: none;
}

.navigbar
{
    text-align: center;
}

li{
    margin-right: 30px;
}

a{
    font-size: 24px;
    color: initial;
}

h1{
    font-size: 32px;
}

ul{
    list-style: none;
}

footer {
    clear: both;
    position: relative;
    height: 50px;
    text-align: center;
    background-color: lightgray;
}